<div class="sort_header">
  <div class="search_result">
    <h3> נמצאו {{countAgents}} סוכני ביטוח</h3>
  </div>
  <div class="sorting_select_menu">
    <div class="right_sorting_menu">
      <form class="price_sort_form">
        <label class="sort_by_price" id="sort_by_price"> מיין לפי:</label>
        <select [(ngModel)]="priceSort" (change)="sortBy(FilterBy.Price)" class="price_sorting" name="price_sorting" for="sort_by_price">
          <option value="minToMax">מחיר נמוך לגבוה</option>
          <option value="maxToMin">מחיר גבוה לנמוך</option>
        </select>
      </form>
      <p class="rate_agents" (click)="sortBy(FilterBy.Rating)">דירוג סוכן</p>
      <p (click)="sortBy(FilterBy.TimesRated)">מס' מדרגים</p>
    </div>

    <div class="left_sorting_menu">
      <div class="wrapper_sort_by_location">

        <form class="sort_by_location_form">
          <label class="label_sort_by_location" id="sort_by_location"> סינון לפי
            אזור:</label>
          <select [(ngModel)]="locationSort" (change)="sortAgentsByLocation()" class="sort_by_location"
                  name="price_sorting" for="sort_by_location">
            <option value="{{FilterByLocation.All}}">כל האזורים</option>
            <option value="{{FilterByLocation.Center}}">מרכז</option>
            <option value="{{FilterByLocation.North}}">צפון</option>
            <option value="{{FilterByLocation.South}}">דרום</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
