@import "/home/CompieCourse/Desktop/angular/insuranceProject/src/scss/utils/_select.scss";

$gray-color: #4f778a;
$border_color: #d9e3e9;

.sort_header {
  color: #517a8b;
  height: 100px;
  border: 1px solid $border_color;
}

.search_result {
  height: 55px;
  display: block;
  background: #f8fafa;
  border-bottom: 1px solid $border_color;

  h3 {
    color: #4f778a;
    font-size: 22px;
    font-weight: bold;
    padding: 17px 22px 0;
  }
}

.sorting_select_menu {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  .right_sorting_menu {
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
  }

  .left_sorting_menu {
    margin: 0;
  }

  label {
    //font-weight: bold;
    font-size: 16px;
  }

  .location_select {
    color: #517a8b;
  }

  .price_sorting {
    color: #ff595f;
    border: none;
    width: 102px;
    background: none;
    font-size: 16px;
    margin: 0 9px 0 0;
    -webkit-appearance: none;
    @include mixin_select_with_color('down_arrow.png', white);
    background-position: 0 9px;
    //border-left: 1px solid #bdcdd6;
  }

  form {
    display: inline-block;
    height: 23px;
    margin: 8px 0 0 0;
  }
  .price_sort_form {
    margin: 0;
    padding: 0 9px 20px;
    border-left: solid 1px #bdcdd6;
    height: 16px;

    .sort_by_price {
      font-weight: bold;
      //font-size: 14px;
    }
  }
  .sort_by_location_form {
    border-right: 1px solid #bdcdd6;
    padding: 0 11px 17px 0;
    margin: 0;
  }
  p {
    font-size: 16px;
    padding: 0 9px 20px;
    margin: 0;
    height: 15px;
  }
  .rate_agents {
    font-size: 16px;
    display: inline;
    margin: 0 0;
    border-left: 1px solid #bdcdd6;
  }
  .sort_by_location {
    border: none;
    width: 78px;
    color: #517a8b;
    font-size: 16px;
    background: none;
    margin: 0 9px 0 6px;
    -webkit-appearance: none;
    @include mixin_select_with_color('down_arrow.png', white);

    .location_select {
      border: none;
      font-size: 12px;
      background: none;
      font-weight: bold;
    }
  }

}
