<footer>
  <div class="footer_wrapper">
    <div class="flexsible">
      <div class="right_footer">
        <h3 class="company_name">Compie</h3>
        <p>אחלה חברה, מתעסקת עם החברה דבריםת בין היתר אלגוריטמים וקשורה לחברת רייזר...</p>
      </div>
      <div class="middle_footer">
        <div class="flexsible">
          <ul class="agents">
            <h4>סוכנים</h4>
            <li><a href="#">הרשמה למערכת</a></li>
            <li><a href="#">צור קשר</a></li>
            <li class="signin_agents"><a href="#">כניסת סוכנים</a></li>
          </ul>
          <ul class="importent_value">
            <h4>פרטים חשובים</h4>
            <li><a href="#">תנאי שימוש</a></li>
            <li><a href="#">מדיניות פרטיות</a></li>
            <li>צור קשר</li>
          </ul>
          <ul class="social_media">
            <h4>עקבו אחרינו</h4>
            <li class="facebook_follow"><a href="#">פייסבוק</a></li>
            <li class="tweeter_follow"><a href="#">טוייטר</a></li>
            <li class="google_follow"><a href="#">גוגל פלוס</a></li>
          </ul>
        </div>
      </div>
      <div class="left_fotter">
        <h4>הישאר מעודכן</h4>
        <p>הירשם לרשימת התפוצה שלנו ואנו נדאג לעדכן אותך בכל המידע החשוב</p>
        <div class="input_email">
          <form action="#">
            <div class="input_email_wrapper">
              <label class="email_contact_us_message" for="email_contact_us"></label>
              <input class="fill_email" id="email_contact_us" type="text"
                     placeholder="כתובת הדוא''ל שלך">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="end_footer">
    <p class="copyright">כל הזכיות שמורות</p>
    <p class="desine"> UI& DESIGN BY: AVIOZ</p>
  </div>
</footer>
