@import "./src/scss/utils/select";

$gray-color: #4f778a;
$border_color: #d9e3e9;

footer {
  position: relative;
  background: #33455d;
  width: 100%;
  height: 290px;
  text-align: right;
  padding: 44px 0;
  color: white;

  .flexsible {
    display: flex;
  }

  .footer_wrapper {
    display: flex;
    margin: 0 auto;
    width: 66%
  }

  .importent_value {
    margin: 0 25px 0 0;
  }

  a {
    color: #FFF;
    font-size: 19px;
  }

  div {
    display: inline-block;
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 0 0;
  }
  .right_footer {
    width: 16%;
    float: right;
    margin: 28px 0 0 64px;
    border-left: 1px solid #425766;

    h3 {
      padding: 5px;
      display: inline;
      font-size: 18px;
      color: #33455d;
      font-weight: bold;
      background: white;
      border-radius: 3px;
      padding: 7px 12px 9px 10px;

    }
    p {
      color: #fff;
      width: 90%;
      font-size: 18px;
      margin: 14px 0 0;
      line-height: 23px;
    }
  }

  .middle_footer {
    //float: right;
    width: 46%;
    margin: 14px 0 0 0;
    border-left: solid #425766 1px;

    .signin_agents {
      background: #fff;
      font-weight: 700;
      border-radius: 20px;
      margin: 6px 6px 0 0;
      display: inline-block;
      padding: 4px 20px 3px 22px;

      a {
        color: #33455d;
        display: inline;
        font-size: 16px;

      }
      li {
        line-height: 26px;
      }
    }

    .social_media {
      position: relative;
      margin: 0 24px 0 0;

      h4 {
        margin: 0 0 7px 0;
      }

      li {
        padding: 0 25px;
        position: relative;
      }
    }

    li:before {
      top: 6px;
      right: -5px;
      position: absolute;
    }

    .facebook_follow:before {
      //content: url("/assets/images/sprites/fcebookicon.png");
      content: url("/assets/images/sprites/fcebookicon.png");
    }
    .tweeter_follow:before {
      content: url("/assets/images/sprites/tweeticon.png");
      //content: url("/assets/images/sprites/tweeticon.png");
    }
    .google_follow:before {
      content: url("/assets/images/sprites/googleplus.png");
      //content: url("/assets/images/sprites/googleplus.png");
    }

    ul {
      //width: 150px;
      //float: right;
      width: 33%;
      list-style: none;
      margin: 0 0 0 50px;
      //display: inline-block;
    }

  }

  .left_fotter {
    width: 30%;
    padding: 0 30px;
    margin: 20px 0 0 0;
    float: left;

    p {
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 12px 0;
    }

    .email_contact_us_message {

      &:before {
        content: url("/assets/images/massage_icon.png");
        padding: 0 5px;
      }
      &:after {
        content: url("/assets/images/v.png");
        position: absolute;
        left: 8px;
      }
    }

    .fill_email {
      background: none;
      border: none;
    }
    .input_email_wrapper {
      margin: 8px 9px 0;
    }

    .input_email {
      width: 270px;
      height: 37px;
      background: white;
      position: relative;
      border-radius: 20px;

    }

    #email_contact_us:after {
      top: 0;
      left: 0;
      width: 400px;
      background: red;
      position: absolute;
      content: url("/assets/images/massage_icon.png");

    }

    b {
      padding: 13px;
      color: #33455d;
      background: #fff;
      font-weight: normal;
      border-radius: 23px;

      span {
        padding: 0 30px;

        background: url("/assets/images/v.png") no-repeat;
      }
    }
  }

  .end_footer {
    height: 50px;
    display: block;
    width: 1240px;
    z-index: 2;
    width: 100%;
    text-align: right;
    background: #2a394d;
    margin: 35px auto 0;

    p{
      display: inline-block;
      margin: 0 200px;

    }
    .desine {
      float: left;
    }
  }
  .footer_down_bg {
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    position: absolute;
    background: #2a394d;
    z-index: 0;
  }
}
