@mixin mixin_select($img_name,  $folder_name: '') {

  //$path: $folder_name !== '' ? #{$folder_name}'/'#{$img_name}; : #{$folder_name}#{$img_name};

  $path: #{$folder_name}#{$img_name};

  $full_path: '/assets/images/'#{$img_name};

  background: url('/assets/images/#{$img_name}') no-repeat left;
}

@mixin mixin_select_with_color($img_name, $color: white,  $folder_name: '') {

  //$path: $folder_name !== '' ? #{$folder_name}'/'#{$img_name}; : #{$folder_name}#{$img_name};

  $path: #{$folder_name}#{$img_name};

  $full_path: '/assets/images/#{$path}';

  background: url($full_path) no-repeat left $color;

}
