@import "./src/scss/utils/select";

$gray-color: #4f778a;
$border_color: #d9e3e9;

header {
  min-width: 400px;

  .mobile_header {
    display: none;
  }

  .header_auto {
    max-width: 1140px;
  }
  //min-width: 600px;
  background: #00d3e6;
  width: 100%;
  height: 360px;

  .header_select {
    width: 100px;
    height: 20px;
    overflow: hidden;
    text-indent: 1px;
    text-overflow: '';
    position: relative;
    -moz-appearance: none;
    display: inline-block;
    -webkit-appearance: none;
    //opacity: 0.1;
    overflow: -moz-hidden-unscrollable;
    //@include mixin_select('v.png');
    @include mixin_select('header_arrow.png');
    background-position: 4px 10px;
    //background: url(../images/v.png) no-repeat left;
  }
  .home_insur {
    display: none;
  }

  .header_select select {
    top: -2px;
    right: 0;
    border: 0;
    width: 100px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    background: transparent;
    -webkit-appearance: none;
    background: none;
    border: none;
  }

  span {
    font-weight: bold;
  }
  nav {
    padding: 10px 0;
  }
  .header_btns {
    width: 20px;
    height: 14px;
    margin: 0 4px -2px;
    display: inline-block;
  }
  .left_nav {
    display: inline-block;

    .contact_btn {
      background: url("/assets/images/header/contact_btn.png") no-repeat;
    }

    .user_btn {
      border-right: solid black 2px;
      padding: 0 0 0 22px;
      background: url("/assets/images/header/user_btn.png") no-repeat;
    }
  }
  .right_nav {
    float: right;

    .header_toggle {
      margin: 0 10px;
      font-weight: bold;
    }

    .company_name {
      color: white;
      float: right;
      padding: 4px 5px;
      margin: 0 0 0 45px;
      background: #33455d;
      font: 20px/26px bold 'arial';

    }

    .toogle_menu_header:before {
      content: url("/assets/images/header/B_Diraa.png");
      position: absolute;
      right: -35px;
      top: -4px;
      display: block;


    }
    .toogle_menu_header:after {
      position: absolute;
      left: -24px;
      top: 0;
      margin: 2px 0 0 12px;
    }

    .header_toggle {
      display: inline-block;
      position: relative;
      margin: 7px 9px 0;
    }

    .search_btn {
      height: 17px;
      padding: 0 0 0 32px;
      border-right: solid black 2px;
      background: url("/assets/images/header/search_btn.png") no-repeat;
    }
  }

  .main_header {
    margin: 57px 0 0 0;

    h1 {
      font-size: 51px;
      margin: 0 0 4px;
      font-weight: bold;
      text-align: center;
      margin: 0 0 2px 25px;
    }
    .car_img {
      padding: 4px 30px 8px;
      background: url("/assets/images/header/main_car.png") no-repeat;
    }
    .header_main_text {
      max-width: 667px;
      font-size: 24px;
      font-weight: 1000;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.7px;
    }
    .match_price {
      display: none;
    }
  }

  .searchHeader {
    top: 0;
    left: 0;
    right: 0;
    width: 280px;
    height: 40px;
    position: fixed;
    text-align: center;
    //background: #f8fafa;
  }

  .headerSearchSubmit {
    margin: 0 10px 0 0;
  }
}
