<header>
  <div class="header_auto">
    <nav>
      <div class="left_nav">
        <a class="header_btns contact_btn" href="#"></a>
        <a class="header_btns user_btn" href="#"></a>
      </div>
      <div class="right_nav">
        <div class="header_toggle form-select">
          <form class="toogle_menu_header">
            <div class="header_select">
              <select name="header_select" id="home_insurance">
                <option value="all">ביטוח דירה</option>
                <option value="center">כן</option>
                <option value="north">לא</option>
                <option value="south">למה לא</option>
              </select>
            </div>
          </form>
        </div>
        <h3 class="company_name">Compie</h3>
        <a class="header_btns search_btn" (click)="toggleSearch()"><span></span></a>
        <div *ngIf="isSearchOpen" [@searchBar]="state" class="searchHeader">
          <form class="search_form_header">
            <span>מילת חיפוש: </span>
            <input type="text" [(ngModel)]="searchTerm" name="headerSearch" (input)="searchThisString()">
          </form>
        </div>
      </div>
      <div class="mobile_header">
        <div class="hamburger_menu">
          <div class="one_hamburger"></div>
          <div class="one_hamburger"></div>
          <div class="one_hamburger"></div>
        </div>
        <div class="logo_mobile">
          <p class="hedaer_mobile_logo">
            trusty.
          </p>
        </div>
      </div>

      <div class="main_header">
        <h1 class="car_insur">ביטוח <span class="car_img">&nbsp;</span> רכב</h1>
        <h1 class="home_insur">ביטוח <span class="car_img">&nbsp;</span> דירה</h1>
        <p class="header_main_text">על מנת שתוכל לנסוע על הכביש בלי דאגות תן לנו להתאים עבורך את הפוליסה
          הטובה
          ביותר עם כיסויים מקיפים במחירים מנצחים ממגוון סוכני הביטוח ושתהיה לכם נסיעה טובה.</p>

        <button id="hook_modal_action" (click)="toggleModal()" type="button" class="match_price">אשף המחיר</button>
      </div>
    </nav>
  </div>
</header>
