<div class="prosess_header">
  <div class="fill_content flex_divs">
    <img class="images_prosess_header" src="./assets/images/fill_details_icon.png">
    <h2>1 </h2>
    <span>ממלאים פרטים <br>להצעת ביטוח</span>
  </div>
  <div class="header_arrow_seperator">
    <img src="./assets/images/sprites/arrow_left.png">
  </div>
  <div class="more_suggestion flex_divs">
    <img class="images_prosess_header" src="./assets/images/coins_icon.png">
    <h2>2</h2>
    <span>מקבלים מגוון הצעות <br>משתלמות מסוני ביטוח</span>
  </div>
  <div class="header_arrow_seperator">
    <img src="./assets/images/sprites/arrow_left.png">
  </div>
  <div class="choose_agent flex_divs">
    <img class="images_prosess_header" src="./assets/images/choose_best_aigent.png">
    <h2>3</h2>
    <span>בוחרים סוכן ביטוח<br> הטוב ביותר</span>
  </div>
  <div class="header_arrow_seperator">
    <img src="./assets/images/sprites/arrow_left.png">
  </div>
  <div class="buy_policy flex_divs">
    <img class="images_prosess_header" src="./assets/images/ageins_click_icon.png">
    <h2>4</h2>
    <span>רוכשים פוליסה <br>בקליק</span>
  </div>
</div>
