.prosess_header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .images_prosess_header {
    padding: 0;
    margin: 0;
  }

  .header_arrow_seperator {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    border: solid #e4ebf1;
  }

  .flex_divs {
    display: flex;
  }
  div {
    display: flex;
    direction: rtl;
    text-align: right;
    position: relative;
    align-items: center;
    display: inline-block;
  }
  h2 {
    font-size: 46px;
    padding: 0 2px 0 0;
  }

  h2, span {
    margin: 0;
    display: inline-block;
  }

  .buy_policy {
    margin: 0 41px 0 0;
  }

  span {
    color: #5a8092;
    font-size: 19px;
    line-height: 17px;
    padding: 0 4px 0 0;
  }
}
