@import "/home/CompieCourse/Desktop/angular/insuranceProject/src/scss/utils/_select.scss";

$gray-color: #4f778a;
$border_color: #d9e3e9;

.radio_wrapper {

  .fix_single_line_to_center {
    padding: 16px 5px 0;
  }

  P {
    width: 157px;
    padding: 6px 0 0;
    min-height: 51px;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
  }

  .single_insurance_question {
    width: 270px;
    color: #457183;
    margin: 0 0 5px;
    padding: 4px 0 0 0;
    border-bottom: 1px solid #d9e4ea;

    div {
      float: left;
      margin: 0 0 0 0;
    }
  }
  label {
    position: relative;
    padding-left: 20px;
    padding: 40px 39px 0 0;
  }
  label input {
    display: none;
  }
  label span {
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    position: absolute;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    //border-radius: 100%;
    font-size: 10pt;
    left: 0;
    top: 50%;
    margin-top: -7.5px;
    background: white;
    padding: 7px 0 0;
    font-size: 17px;
  }
  input:checked + span {
    background: #00d3e6;
    border-color: #ccf;
  }
}

.selects_insurance_setting {
  //overflow: hidden;
  text-indent: 1px;
  margin: 0 0 2px 0;
  text-overflow: '';
  position: relative;
}

.selects_insurance {
  width: 260px;
  margin: 0 4px 0 0;
  padding: 10px 0 20px;
  border-bottom: 1px solid #d9e4ea;
}

.main_right_select {
  font-size: 17px;
  width: 268px;
  height: 40px;
  margin: 5px 0;
  color: #457183;
  overflow: hidden;
  text-indent: 1px;
  text-overflow: '';
  position: relative;
  padding: 0 12px 0 0;
  -moz-appearance: none;
  display: inline-block;
  -webkit-appearance: none;
  border: $border_color 1px solid;
  overflow: -moz-hidden-unscrollable;
}

.main_right_select select {
  top: 0;
  left: 0;
  border: 0;
  width: 100px;
  height: 17px;
  font-size: 11px;
  position: absolute;
  background: transparent;
  -webkit-appearance: none;
  border: none;
}

.choose_car_insurance, .choose_car_drivers {
  @include mixin_select_with_color('plus_icon.png', white);
  background-position: 13px 12px;

}

.car_purpose, .choose_city, .choose_insurance {
  @include mixin_select_with_color('down_arrow.png', white);
  background-position: 15px;
}
.choose_when_start_the_insurance {
  @include mixin_select_with_color('date_icon.png', white);
  background-position: 12px;
}
