<div class="select_form_options">
  <!--<form [formGroup]="insuranceOptions" class="main_form">-->
  <form class="main_form">
    <div class="selects_insurance">
      <div class="selects_insurance_setting">
        <select class="main_right_select choose_insurance" name="choose_insurance">
          <option value="good">בחר את סוג הביטוח</option>
          <option value="chacha">בינוני</option>
          <option value="short">נמוך</option>
        </select>
      </div>
      <div class="selects_insurance_setting">
        <select class="main_right_select choose_when_start_the_insurance"
                name="choose_when_start_the_insurance">
          <option value="good">תאריך תחילת הביטוח</option>
          <option value="chacha">בינוני</option>
          <option value="short">נמוך</option>
        </select>
      </div>
      <div class="selects_insurance_setting">
        <select class="main_right_select choose_car_insurance" name="choose_car_insurance">
          <option value="good">בחר את סוג הרכב</option>
          <option value="chacha">מי ינהג ברכב?</option>
          <option value="short">נמוך</option>
        </select>
      </div>
      <div class="selects_insurance_setting">
        <select class="main_right_select choose_car_drivers" name="choose_car_drivers">
          <option value="good">מי ינבג ברכב?</option>
          <option value="chacha">בינוני</option>
          <option value="short">נמוך</option>
        </select>
      </div>
      <div class="selects_insurance_setting">
        <select class="main_right_select car_purpose" name="car_purpose">
          <option value="good">מטרת שימוש ברכב</option>
          <option value="chacha">בינוני</option>
          <option value="short">נמוך</option>
        </select>
      </div>
      <div class="selects_insurance_setting">
        <select class="main_right_select choose_city" name="choose_city">
          <option value="good">היכן אתה גר?</option>
          <option value="chacha">צפןן</option>
          <option value="short">דרום</option>
        </select>
      </div>
    </div>
    <div class="radio_head">
      <div class="radio_section">

        <div class="radio_wrapper">
        <!--<div class="radio_wrapper" formGroupName="radio">-->
          <div class="single_insurance_question">
            <p>האם היה לך ביטוח מקיף או רכב ליסינג ב-3 שנים האחרונות?</p>
            <div>
              <!--<label><input formControlName="carInsurance" type="radio" name="select1"/><span>כן</span></label>-->
              <!--<label><input formControlName="carInsurance" type="radio" name="select1"/><span>לא</span></label>-->
              <label><input type="radio" name="select1"/><span>כן</span></label>
              <label><input type="radio" name="select1"/><span>לא</span></label>
            </div>
          </div>
          <div class="single_insurance_question">
            <p>האם היו לך תביעות רכוש ו.או גוף ב -3 שנים האחרונות?</p>
            <div>
              <label><input type="radio" name="select2"/><span>כן</span></label>
              <label><input type="radio" name="select2"/><span>לא</span></label>
            </div>
          </div>
          <div class="single_insurance_question">
            <p class="fix_single_line_to_center">האם לבן הזוג יש רכב נוסף?</p>
            <div>
              <label><input type="radio" name="select3"/><span>כן</span></label>
              <label><input type="radio" name="select3"/><span>לא</span></label>
            </div>
          </div>
          <div class="single_insurance_question">
            <p class="fix_single_line_to_center">האם יש לך עבר פלילי?</p>
            <div>
              <label><input type="radio" name="select4"/><span>כן</span></label>
              <label><input type="radio" name="select4"/><span>לא</span></label>
            </div>
          </div>
          <div class="single_insurance_question">
            <p class="fix_single_line_to_center">האם שללו לך את הרשיון בעבר?</p>
            <div>
              <label><input type="radio" name="select5"/><span>כן</span></label>
              <label><input type="radio" name="select5"/><span>לא</span></label>
            </div>
          </div>

        </div>

      </div>

    </div>
  </form>
</div>
