ul {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  margin: 20px 40px;
  li {
    display: inline;
    padding: 0 16px 0;
    margin: 0;
    font-size: 20px;
  }

}
.agents_options_for_selecet {

  .agent_info {
    border: solid 1px #d9e3ea;
    //height: 140px;
    margin: 5px 0 16px;
    display: flex;
    padding: 15px 0;

    .purchase_agent {
      width: 150px;
      margin: 0 5px 0 0;
      padding: 0 3px 0 0;
    }
    div {
      display: inline-block;
    }
    .agent_rate_location {
      display: block;
    }

    .purchase_agent {
      .premia_and_click_to_buy {
        display: block;
      }
      h3 {
        font-size: 32px;
        margin: 0 17px -2px 0;
      }

      p {
        font-size: 15px;
        padding: 0 16px 0 0;
        //width: 98px;

      }
      a {
        color: #fff;
        max-width: 125px;
        display: block;
        height: 35px;
        margin: 0 0;
        text-align: center;
        padding: 5px 0 0;
        background: #00c7d9;
        border-radius: 20px;

        img {
          padding: 0 0 0 4px;
        }
      }
    }
    .agent_brief {
      font-size: 14px;
      border-left: 1px solid #d9e3ea;

      p{
        margin: 0 0 7px;
        font-size: 17px;
        font-size: 16px;
        max-width: 410px;
        overflow: hidden;
        display: -moz-box;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;

        @media screen and (max-width: 900px) {
          //white-space: nowrap;
        }

      }


      h2 {
        font-size: 25px;
        padding: 7px 7px 0 0;
        line-height: 18.5px;
        font-family: my-font;
      }
      .location_business {
        font-size: 15px;
        margin: 0 28px 0 0;
        position: relative;
        font-weight: normal;

      }
      .location_business:before {
        right: -20px;
        position: absolute;
        content: url("/assets/images/sprites/location_icon.png");
      }
    }
    .stars_rate {
      float: left;
      width: 106px;
      margin: 0 0 0 14px;
      background: url("/assets/images/star.png") no-repeat;

    }

    .agent_img {
      height: 110px;
      margin: 0 15px;
      overflow: hidden;
      border: 1px solid #d9e3ea;

      img {
        width: 180px;
        height: 110px;
      }

    }
  }
}
