<div class="agents_options_for_selecet">
  <div class="agent_info">
    <a class="agent_img"><img src="./assets/images/{{agent.images}}" alt="agent image"></a>
    <div class="agent_brief">
      <h2>{{agent.name}}</h2>
      <p>{{agent.description}}</p>
      <div class="agent_rate_location">
        <span class="stars_rate">&nbsp;</span>
        <span class="location_business">{{agent.location}}</span>
      </div>
    </div>
    <div class="purchase_agent">
      <div class="premia_and_click_to_buy">
        <h3><span>&#8362;</span>{{agent.price}}</h3>
        <p>פרמיה חודשית</p>
      </div>
      <div class="premia_and_click_to_buy">
        <a>
          <img src="./assets/images/Shopping_Cart.png">
          לריכשה
        </a>
      </div>
    </div>
  </div>
</div>
