<div class="main_right">
  <div class="main_right_header">
    <h3>אשף המחיר</h3>
    <p>לקבל הצעת מחיר מתואמת אישית אנא הזן את הפרטים הבאים</p>
  </div>
  <app-wizard-form></app-wizard-form>
  <div class="banner_image">&nbsp;</div>
</div>
