<div id="main_page">
  <div id="page_wrapper_without_modal">
    <app-header></app-header>
    <div class="wrapper">

      <router-outlet></router-outlet>
    </div>
<app-footer></app-footer>
  </div>
</div>


