<div class="main">
  <!--<material-datepicker [(date)]="yourModelDate"></material-datepicker>-->
  <!--<material-datepicker [(ngModel)]="yourModelDate"></material-datepicker>-->

  <!--<material-datepicker [(date)]="yourModelDate"></material-datepicker>-->


  <app-steps-header></app-steps-header>
  <div class="main_content">
    <app-right-wizard></app-right-wizard>

    <div class="main_left">
      <app-nav-bar [countAgents]="countAgents" [locationSort]="locationSort" [priceSort]="priceSort"></app-nav-bar>

      <div class="select_wrapper">
        <app-agent *ngFor="let agent of agentsState | paginate: { itemsPerPage: 10, currentPage: currentPage }" [agent]="agent"></app-agent>
      </div>

      <ul>
        <li *ngFor="let item of createRange(pageCounter)" (click)="pageChange(item)">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</div>
<app-wizard-modal [@Modal]="state"></app-wizard-modal>
