@import "./scss/utils/select";

$gray-color: #4f778a;
$border_color: #d9e3e9;
$phone: 840px;

@font-face {
  font-family: 'my-font';
  src: url("./scss/fonts/fbspoilersp-regularwebfont.woff");
}

* {
  margin: 0 auto;
  padding: 0 0;
  direction: rtl;
  font-family: my-font;
}

body {
  background: #f9fbfd;
}

.wrapper {
  margin: -39px 0 0 0;

  .show {
    display: block;
  }

}

@media screen and (max-width: $phone) {
  #main_page.dark_bg {
    //opacity: 0.5;
    background: #2c3f48;
  }

  #main_page {

    .modal_open {
      opacity: 0.5;
      background: #2c3f48;
    }
    header {
      nav {
        padding: 0;
      }

      .mobile_header {
        //display: block;
        display: flex;
        background: white;
        padding: 7px 0 0;
        justify-content: space-between;

        div {
          margin: 0;
        }

        .hamburger_menu {
          margin: 6px 14px 0 0;
        }

        .one_hamburger {
          width: 15px;
          height: 2px;
          background-color: black;
          margin: 3px 0;
        }

        .hedaer_mobile_logo {
          background: #2c3f48;
          font-size: 22px;
          font-weight: 700;
          color: #fff;
          direction: ltr;
          padding: 2px 11px;
          border-radius: 2px;
          margin: 0 0 10px 14px;
        }
      }

      .header_main_text {
        display: none;
      }
      .left_nav, .right_nav {
        display: none;
      }
      .match_price {
        color: white;
        width: 180px;
        height: 40px;
        display: block;
        margin: 30px auto 0;
        background: red;
        font-weight: 700;
        text-align: center;
        border-radius: 51px;
        border: none;
      }
      .home_insur {
        display: block;
      }
      .car_insur {
        display: none;
      }
      .car_img {
        background: url("./assets/images/header/sapa_gdola.png") no-repeat;
      }
    }

    .main {
      margin: 0 auto 0;
      padding: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:before, &:after {
        content: '';
      }

      .main_content {
        ul {
          display: none;
        }
      }

      .main_right {
        display: none;
      }

      .prosess_header {
        display: none;
      }
      .search_result {
        h3 {
          text-align: center;
        }
      }

      .sort_header {
        height: 110px;
      }
      .sorting_select_menu {
        justify-content: center;
        height: 53px;
        display: flex;
        justify-content: space-between;

        .right_sorting_menu, .left_sorting_menu {
          width: 50%;
        }

        p {
          display: none;
        }
        form {
          //width: 200px;
          height: 36px;
          margin: 0 20px 0 0;
          padding: 5px 24px 0 0;
          border: 1px solid #bdcdd6;

        }
        label {
          //font-size: 12px;
          //font-size: 14px;

          font-weight: 100;
        }
        .sort_by_location, .price_sorting {
          margin: 0;
          padding: 0 3px 0 0 ;
          //font-size: 16px;
          //background-position: 6px 2px;
          //font-size: 14px;
          //background-position: 6px 7px;
        }

        .price_sort_form, .sort_by_location_form {
          width: 90%;
          text-align: center;
        }
      }

      .agent_info {

        .agent_img {
          width: 83%;

          img {
            width: 125px;
            height: 96px;
            display: flex;
            justify-content: center;
          }
        }

        .agent_brief {
          margin: 0;
          //width: 200px;
          border-left: none;
          width: 100%;
          p {
            display: none;
          }
          h2 {
            max-width: 100px;
            margin: 0 0 0 0;
            white-space: nowrap;
          }
          .agent_rate_location {
            //display: block;
            display: flex;
            margin: 7px 0 0 0;
            align-items: center;
            flex-direction: column;
            border-left: 1px solid #d9e3ea;
          }
        }

        .purchase_agent {
          margin: 10px 0 0 0;
          padding: 0;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          text-align: center;

          .premia_and_click_to_buy {
            margin: 0 17px 0 0;
          }
        }

        .purchase_agent {
          p {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-block;
          }
          a {
            float: left;
            max-width: 54px;
            margin: 0 0 0 0;
          }
          h3 {
            margin: 0 0 0 0;
            padding: 0 0;
          }
        }
        .stars_rate {
          float: none;
          display: block;
          margin: 5px 5px 10px 0;
          width: 96px;
        }

      }
    }

    footer {
      height: 215px;
      //text-align: right;
      padding: 12px 0;

      .right_footer, .middle_footer {
        display: none;
      }

      .footer_wrapper {
        width: 100%;
      }
      .flexsible {
        width: 100%;
      }

      .left_fotter {
        width: 100%;
        padding: 0 30px;
        text-align: center;
        margin: 20px 0 0;
        float: none;

        .input_email {
          width: 100%;
          input {
            width: 75%;
          }
        }
        p {
          width: 85%;
          margin: 0 auto 12px;
        }
      }
      .end_footer {
        margin: 55px auto 0;
        display: flex;
        p {
          margin: 0 auto;
        }
      }

    }

  }
}

@media screen and (max-width: 316px) {
  #main_page {

    footer {
      .end_footer {
        margin: 0 auto 0;
      }
    }
  }
}

@media screen and (max-width: 950px) {

  #main_page {

    .agent_brief {
      max-width: 200px;

      h2 {
        padding: 7px 0 0 0;
      }

      p {
        white-space: nowrap;
        display: block;
      }
    }
  }
}
