@import "./src/scss/utils/select";

$gray-color: #4f778a;
$border_color: #d9e3e9;

.model_price {
  right: 0;
  left: 0;
  top: 50px;
  width: 100%;
  //display: none;
  position: fixed;
  min-width: 377px;
  text-align: right;
  //opacity: 1!important;

  .wrapper_modal {
    width: 90%;
  }

  .main_form {
    width: 100%;
    text-align: center;
  }

  form {
    padding: 0 0 15px;
  }
  .radio_head {
    width: 101%;
    height: 157px;
    margin: 0 0 21px;
    overflow-y: scroll;
  }

  .modal_submit {
    width: 91%;
    padding: 3px 0 0 0;
    border: none;
    height: 42px;
    color: white;
    margin: 0 auto;
    font-weight: bold;
    background: #00d3e6;
    border-radius: 20px;
  }

  .close_modal {
    left: 6px;
    top: 11px;
    width: 17px;
    border: none;
    background: none;
    position: absolute;
    color: #aaa;

  }
  .single_insurance_question p {
    max-width: 174px;
    display: inline-block;
    padding: 0;
    margin: 0 0 18px;
  }

  .select_form_options {
    width: 91%;
    display: flex;
    color: #457183;
    min-width: 350px;
    background: #f9fbfd;
    position: relative;
    border-radius: 4px;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      padding: 13px 0 0 0;
    }


    .main_description_modal{
      //color: #457183;
      margin: 0 auto;
      font-size: 17px;
      max-width: 224px;
      text-align: center;
    }
  }
  .show {
    display: block!important;
  }

  .selects_insurance_setting {
    text-indent: 1px;
    margin: 0 0 2px 0;
    text-overflow: '';
    position: relative;
  }

  .selects_insurance {
    width: 100%;
    margin: 0 4px 0 0;
    padding: 10px 0 20px;
    height: 333px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #d9e4ea;
  }


  .single_insurance_question {
    //width: 270px;
    width: 100%;
    text-align: right;
    color: #457183;
    margin: 0 0 5px;
    padding: 4px 7px 0 0;
    border-bottom: 1px solid #d9e4ea;

    div {
      float: left;
      margin: 0 0 0 0;
    }
  }
  label {
    position: relative;
    padding-left: 20px;
    padding: 40px 39px 0 0;
  }
  label input {
    display: none;
  }
  label span {
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    position: absolute;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    //border-radius: 100%;
    font-size: 10pt;
    left: 0;
    top: 50%;
    margin-top: -7.5px;
    background: white;
    padding: 7px 0 0;
    font-size: 17px;
  }
  input:checked + span {
    background: #00d3e6;
    border-color: #ccf;
  }

  .modal_select {
    font-size: 14px;
    //width: 268px;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    color: #457183;
    overflow: hidden;
    text-indent: 1px;
    text-overflow: '';
    position: relative;
    padding: 0 14px 0 0;
    -moz-appearance: none;
    display: inline-block;
    -webkit-appearance: none;
    border: 1px solid #d4dfe6;
    overflow: -moz-hidden-unscrollable;
  }

  .modal_select select {
    top: 0;
    left: 0;
    border: 0;
    width: 100px;
    height: 17px;
    font-size: 11px;
    position: absolute;
    background: transparent;
    -webkit-appearance: none;
    border: none;
  }

  .car_purpose, .choose_city, .choose_insurance, .choose_car_insurance, .choose_car_drivers, .choose_when_start_the_insurance {
    @include mixin_select_with_color('down_arrow.png', white);
    background-position: 15px 16px;
  }
}
