<div id="modal_p" class="model_price">

  <div class="select_form_options">
    <button class="close_modal" (click)="closeModal()" id="close_modal">X</button>

    <div class="wrapper_modal">
      <h3>אשף המחיר</h3>
      <p class="main_description_modal">אני לא מצליח לראות מה רשום בתמונה כי היא מאוד מאוד קטנה אז זרמתי</p>
      <form name="modalForm" (ngSubmit)="f.form.valid && onSubmit(f.value)" #f="ngForm" class="main_form">


        <div class="selects_insurance">
          <div class="selects_insurance_setting">
            <select [ngModel]="select.chooseInsurance"
                    name="secret" class="modal_select choose_insurance" name="choose_insurance">
              <option value="good">בחר את סוג הביטוח</option>
              <option value="chacha">בינוני</option>
              <option value="short">נמוך</option>
            </select>
          </div>
          <div class="selects_insurance_setting">
            <select [ngModel]="select.whenStartInsurance" class="modal_select choose_when_start_the_insurance"
                    name="choose_when_start_the_insurance">
              <option value="good">תאריך תחילת הביטוח</option>
              <option value="chacha">בינוני</option>
              <option value="short">נמוך</option>
            </select>
          </div>
          <div class="selects_insurance_setting">
            <select [ngModel]="select.selectsinsuranceSetting" class="modal_select choose_car_insurance"
                    name="choose_car_insurance">
              <option value="good">בחר את סוג הרכב</option>
              <option value="chacha">מי ינהג ברכב?</option>
              <option value="short">נמוך</option>
            </select>
          </div>
          <div class="selects_insurance_setting">
            <select [ngModel]="select.selectDriver" class="modal_select choose_car_drivers" name="choose_car_drivers">
              <option value="good">מי ינבג ברכב?</option>
              <option value="chacha">בינוני</option>
              <option value="short">נמוך</option>
            </select>
          </div>
          <div class="selects_insurance_setting">
            <select [ngModel]="select.carPurpose" class="modal_select car_purpose" name="car_purpose">
              <option value="good">מטרת שימוש ברכב</option>
              <option value="chacha">בינוני</option>
              <option value="short">נמוך</option>
            </select>
          </div>
          <div class="selects_insurance_setting">
            <select [ngModel]="select.choose_city" class="modal_select choose_city" name="choose_city">
              <option value="good">היכן אתה גר?</option>
              <option value="chacha">צפןן</option>
              <option value="short">דרום</option>
            </select>
          </div>
        </div>
        <div class="radio_head">
          <div class="radio_section">

            <div class="radio_wrapper">
              <div class="single_insurance_question">
                <p>האם היה לך ביטוח מקיף או רכב ליסינג ב-3 שנים האחרונות?</p>
                <div>
                  <label><input [ngModel]="radio.radio1" type="radio" value="no" name="radio1"/><span>לא</span></label>
                  <label><input [ngModel]="radio.radio1" type="radio" value="yes" name="radio1"/><span>כן</span></label>
                </div>
              </div>
              <div class="single_insurance_question">
                <p>האם היו לך תביעות רכוש ו.או גוף ב -3 שנים האחרונות?</p>
                <div>
                  <label><input type="radio" [ngModel]="radio.radio2" value="no" name="radio2"/><span>כן</span></label>
                  <label><input type="radio" [ngModel]="radio.radio2" value="yes" name="radio2"/><span>לא</span></label>
                </div>
              </div>
            </div>

          </div>

        </div>
        <button class="modal_submit" type="submit">קבל הצעות</button>
      </form>
    </div>
  </div>
</div>
